<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>타자 게임</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 경로 수정 -->
</head>
<body>
    <div class="game-container">
        <h1>디펜스 게임</h1>
        <div id="info">
            <div th:if="${session.user} != null">
                <span th:text="${session.user.uiName}"></span><br>
            </div>
            <div id="tries">남은 횟수: 5</div>
            <div id="wordCount">남은 단어: 0</div>
            <div id="timer">시간: 0</div>
            <div id="score">현재 점수: 0</div>
        </div>
        <input type="text" id="wordInput" placeholder="단어를 입력하세요" disabled>
        <div id="message"></div>
        
    </div>
    <div class="word-container" id="wordContainer">
        <button id="startButton"><img th:src="@{/img/start.png}"> <!-- 경로 수정 --></button>
    </div>
    <audio id="backgroundMusic" th:src="@{/bgm/Game bgm.mp3}" preload="auto" loop hidden></audio>
    <audio id="arrowSound" th:src="@{/Esound/arrow.wav}"></audio>
    <audio id="flyingSound" th:src="@{/Esound/flyingArrow.mp3}"></audio>
    <audio id="hitSound" th:src="@{/Esound/hitSound.wav}"></audio>
    <audio id="failSound" th:src="@{/Esound/failSound.wav}"></audio>
    <audio id="destSound" th:src="@{/Esound/CAST_02.wav}"></audio>
    <audio id="clearSound" th:src="@{/Esound/clearSound.wav}"></audio>

    최고점수: <span id="maxScore"></span>
    <button id="musicToggleButton"><img th:src="@{/img/sound.png}" width="50px" height="50px"></button>
    <img id="castle" th:src="@{/img/castle.png}" alt="Castle"> <!-- 경로 수정 -->
    <button id="restartButton" style="display: none;"><img th:src="@{/img/restart.png}" width="50px" height="50px"></button>
    <button>저장하기</button>


    
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
    <script th:src="@{/js/game.js}"> </script> <!-- 경로 수정 -->
    <script>
        window.addEventListener('load',async function(){
            const res = await fetch('/point-infos/max?giNum=1');
            const point = await res.json();
            document.querySelector('#maxScore').innerHTML = `<b>${point.piPoint}</b>`;
        });

        window.addEventListener('load',async function(){
            const res = await fetch('/point-infos/rank?giNum=1');
            const point = await res.json();
            document.querySelector('#Rank').innerHTML = `<b>${point.piPoint}</b>`;
        });
    </script>
    </script>
    <script>
       
    </script>
</body>
</html>
