body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("/img2/blackjack_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#dealer-cards{
    position: absolute;
    width: 100%;
    top:20%;
}

#your-cards{
    position: absolute;
    width: 100%;
    top:55%;
}

#dealer-cards img {
    height: 150px;
    width: 100px;
    margin: 1px;
}

#your-cards img {
    height: 150px;
    width: 100px;
    margin: 1px;
}

#play-info{
    width: 100%;
    position: absolute;
    top:40%;
}

#bet-info{
    position: absolute;
    width:350px;
    height:50px;
    top:50%;
    left:10%;
}

#credit{
    position:absolute;
    left:20%;
    bottom:30%;
}

#buttons {
    position: absolute;
    width:300px;
    height: 200px;
    top:30%;
    left:10%;
}

#hit {
    position: absolute;
    width: 100px;
    height: 50px;
    font-size: 20px;
    left:0;
    bottom:0;
}

#stand {
    position: absolute;
    width: 100px;
    height: 50px;
    font-size: 20px;
    right:0;
    bottom:0;
}

#next-round {
    width: 100px;
    height: 100px;
    font-size: 20px;
    display: block;
    background-color: rgb(255, 255, 255,0);
    background-image: url("/img2/nextRound.png");
    background-size: 100% 100%;
    border: none;
    padding: 0;
    position: absolute;
    top:0;
    left:0;
}

#round-history{
    position: absolute;
    right:20%;
    top:40%;
}

#restart {
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: none; 
    margin: 10px auto; 
    position: absolute;
    top:0;
    left:0;
}

#saveButton{
    border:none;
    background-color: rgba( 255, 255, 255, 0 );
    position: absolute;
    top:10px;
    right:10px;
}