<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>

    <div th:if="${session.user} == null">
        <a href="/tmpl/user-info/login">로그인</a>
        <a href="/tmpl/user-info/join">회원가입</a>
    </div>
    <div class="itd" th:if="${session.user} != null">
        <span th:id="username" th:text="${session.user.uiName}"></span>님 안녕하세요.<br>
    </div>
    <div id="maxScoreContainer">
        <span id="maxScoreText">최고점수 :</span>
        <span id="maxScore"></span>
    </div>
    </div>
    <div id="container">
        <div id="t-container">
        <h1 id="game-title">키보드 줄다리기</h1>
        <div id="game-list">
        </div>
        </div>
    </div>
    <div id="score-container">
        <h1>게임 랭킹</h1><br>
        <table border="1" class="rwd-table" width ="250" height="450" bordercolor="blue">
            <tr>
                <th>랭킹</th>
                <th>이름</th>
                <th>점수</th>
            </tr>
            <tbody id="Rank">
            </tbody>
        </table>
    </div>

    <script>
        window.addEventListener('load', async function () {
            const res = await fetch('/game-infos');
            const games = await res.json();
            let html = '';
            for (const game of games) {
                html += `<a href='/tmpl/game'><img src="../img/Keybord tug of war.png" alt="${game.giName}" ></a>`;
            }
            document.querySelector('#game-list').innerHTML = html;
        });

        window.addEventListener('load', async function () {
            const res = await fetch('/point-infos/max?giNum=1');
            const point = await res.json();
            document.querySelector('#maxScore').innerHTML = `<b>${point.piPoint}</b>`;
        })

        window.addEventListener('load', async function () {
            const res = await fetch('/point-infos/rank?giNum=1');
            const ranks = await res.json();
            let html = '';
            let i = 1;
            for (const rank of ranks) {
                html += '<tr>';
                html += `<td>${i++}</td>`;
                html += `<td>${rank.uiName}</td>`;
                html += `<td>${rank.piPoint}</td>`;
                html += '</tr>'
            }
            document.querySelector('#Rank').innerHTML = html;
        })
    </script>
    <script>
        // 랜덤 RGB 색상 생성 함수
        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        // 랜덤 색상을 텍스트에 적용
        const usernameElement = document.getElementById('username');
        usernameElement.style.color = getRandomColor();
    </script>
</body>

</html>