<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
</head>

<body>
    <h3>사용자 정보</h3>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>아이디</th>
            <th>전화번호</th>
            <th>이메일</th>
            <th>생일</th>
        </tr>
        <tbody>
            <tr>
                <td id="uiNum"></td>
                <td id="uiName"></td>
                <td id="uiId"></td>
                <td id="uiMobile"></td>
                <td id="uiEmail"></td>
                <td id="uiBirth"></td>
            </tr>
        </tbody>
    </table>
    <button id="updateButton">수정</button>

    <button id="deleteButton">삭제</button>

    <script>
        window.addEventListener('load', async function () {
            const urlParams = new URLSearchParams(window.location.search);
            const uiNum = urlParams.get('uiNum');

            const res = await fetch(`/user-infos/${uiNum}`);
            const userInfo = await res.json();

            document.querySelector('#uiNum').textContent = userInfo.uiNum;
            document.querySelector('#uiName').textContent = userInfo.uiName;
            document.querySelector('#uiId').textContent = userInfo.uiId;
            document.querySelector('#uiMobile').textContent = userInfo.uiMobile;
            document.querySelector('#uiEmail').textContent = userInfo.uiEmail;
            document.querySelector('#uiBirth').textContent = userInfo.uiBirth;

            document.querySelector('#updateButton').addEventListener('click', function () {
                window.location.href = `/tmpl/user-info/update?uiNum=${uiNum}`;
            });

            document.querySelector('#deleteButton').addEventListener('click', async function () {
                if (confirm('정말로 삭제하시겠습니까?')) {
                    const deleteRes = await fetch(`/deleteUserInfo/${uiNum}`, {
                        method: 'POST'
                    });

                    if (deleteRes.status === 200) {
                        alert('삭제되었습니다.');
                        window.location.href = '/tmpl/user-info/list';
                    } else {
                        alert('삭제에 실패했습니다.');
                    }
                }
            });

        });
    </script>
</body>

</html>